/* starter_style.css from HW3 */
html{
    scroll-behavior: smooth;
  }
  
  body{
    background-color: white;
    font-size: 18px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
  }
  
  
  .overview{
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    color: #00274C;
    /* height: 400px;                /*Parallax effect */
  }
  
  /* .page.overview{
    text-align: center;
  } */
  
  .overview p{
    color: #00274C;
    font-size: 24px;
    /* padding: 0 100px; */
    text-align: left;
  }

  h1{
    font-size: 50px;
    line-height: 2;
    /* padding: 50px 0; */
    text-align: center;
  }
  
  h2{
    font-size: 32px;
    line-height: 1.5;
  }

  h3{
    font-size: 30px;
    line-height: 1.5;
    color: #2F65A7;
  }
  
  nav li{
    display:inline;
    padding-right:20px;
  
  }
  
  nav a{
    color: #FFCB05;
    font-weight: bold;
    text-decoration: none;
  }
  
  
  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  
  nav{
    background-color: #00274C;
    padding: 25px 0; 
    text-align: center;
  }
  
  footer{
    background-color: #ddd;
    color: black;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 40px;
  }
  
  
  .text-block{
    background-color: rgba(255, 255, 255, .8);
    border: 10px solid black;
    padding: 30px;
  }
  
  
  @media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
  
    /*Turn off parallax*/
    header{
      background-attachment: initial;
    }
  }

/* end */
img {
    width: 100%;
    height: auto;
  }

ul, ol {
    list-style-type: disc; /* Default bullet point */
    /* margin-left: 20px; Add some space for the bullet */
    padding: 0 50px;
  }

  nav a:hover, nav a:focus{
    text-decoration-line: underline;
}

.skip{
    position: absolute;
    top: -40px;
}
.skip:focus{
    top: 20px;
}
:focus{
    border: 2px solid;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    width: 100%;
}
.Title{
    grid-column: 1/-1;
}
.page.overview{
    display: flex;
    grid-column: 1 / -1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page.overview p{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
.page.overview h2{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
.content.overview{
    grid-column: 1/-1;
}

.health.overview{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    grid-row: 4;
}
.health-image{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    grid-row: 5;
}
.UHS.overview{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    grid-row: 6;
}
.sports.overview{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    grid-row: 7;
}
.campus-image{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    grid-row: 8;
}
.program.overview{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    grid-row: 9;
}

.mental.overview{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    grid-row: 4/10;
    /* border-left: 2px solid #00274C; */
}
.extra.overview{
    grid-column: 1/-1;
    padding-bottom: 20px;
}

.advisor.overview{
    grid-column: 1/-1;
    border-bottom: #00274C 2px solid;
    padding-bottom: 20px;
}
.schedule.overview{
    grid-column: 1/2;
    border-right: #00274C 2px solid;
}
.additional.overview{
    grid-column: 2/3;
    padding-left: 5px;
}

/* .health-image, .campus-image{
    display: flex;
    grid-column: 1 / -1;
    align-items: center;
    justify-content: center;
} */
/* .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.health .overview, .health-image, .UHS .overview{
    grid-column: 1/2;
}
.sports .overview, .campus-image, .program .overview{
    grid-column: 2/3;
} */

/* 
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.Title{
    grid-column: 1/-1;
    grid-row: 1;
    justify-self: center;
}
.overview, .health, .sports, .mental{
    grid-column: 1/-1;
    margin-bottom: 20px;
}




.health-image, .campus-image{
    grid-column: 2/3;
    justify-items: center;
} */